@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(clay-banks-u27Rrbs9Dwc-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
.container {
    padding: 20px 70px;
    color: white;
}
.current-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.date-container {
    font-weight: 100;
}
.date-container .time{
    font-size: 70px;
    font-weight: 100;
}
.date-container #am-pm{
    font-size: 30px;
    margin-left: 20px;
}

.date-container .date{
    font-size: 30px;
}
.place_container {
    text-align: end;
}
.place_container .time-zone{
    font-size: 30px;
    font-weight: 100;
}
.place_container .country, .city {
    font-size: 12px;
    font-weight: 700;
}
.current-info .others {
    display: flex;
    flex-direction: column;
    background: rgba(24, 24, 27, 0.6);
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 10px 0px;
    border: 1px solid #aeee;

}
.current-info .others .weather-items{
    display: flex;
    justify-content: space-between;
}
.future-forecast {
    background: rgba(24, 24, 24, 0.8);
    padding: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.future-forecast .today {
    display: flex;
    align-items: center;
    justify-content: center;
}
.future-forecast .today .day {
 padding: 5px 15 px;
 background: #3c3c44;
 border-radius: 50px;
 -webkit-border-radius: 50px;
 -moz-border-radius: 50px;
 -ms-border-radius: 50px;
 -o-border-radius: 50px;
 text-align: center;
}
.future-forecast .today .temp{
    font-size:  20px;
    padding-top: 15px;
}
.future-forecast .weather-forecast {
    display: flex;
}
.weather-forecast .weather-forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border:  1px solid #eee;
    border-radius:  10px;
    padding: 15px;
    -webkit-border-radius:  10px;
    -moz-border-radius:  10px;
    -ms-border-radius:  10px;
    -o-border-radius:  10px;
}
.weather-forecast .weather-forecast-item .day{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    text-align: center;
}
.weather-forecast .weather-forecast-item .temp{
    font-weight: 100;
}
#current-weather-items {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 20px;
  }
  


@media only screen and (max-width: 720px){
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }
    .container{
        padding: 20px;
    }
    .future-forecast .today .temp{
        font-size: 23px;
    }
    .date-container .time {
        font-size: 50px;
    }
    .date-container #am-pm{
        font-size: 20px;
    }
    .date-container .date{
        font-size: 20px;
    }
    .place_container{
    text-align: left;
    }
    .place_container .time-zone{
        font-size: 20px;
    }
    .current-info .others {
        padding: 12px;
    }
    .current-info .others .weather-items{
        font-size: 14px;
    }
}
/* For extra text */
/* .card {
    width: 190px;
    height: 254px;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
  }
  
  .card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
  }
  
  .card:hover {
    transform: scale(1.04) rotate(1deg);
  }
  
  .circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(#b0e633, #53ef7d);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
  }
  
  .circle:nth-child(1) {
    top: -25px;
    left: -25px;
  }
  
  .circle:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
  }
  
  @keyframes move-up6 {
    to {
      transform: translateY(-10px);
    }
  }
  
  @keyframes move-down1 {
    to {
      transform: translateY(10px);
    }
  } */

@media only screen and (max-width: 1000px){
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }
    .place_container{
        text-align: left;
        }
}